{% extends '_template.html' %}
{% block content %}

<h2 class="text-3xl mb-5 font-bold">Productes</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
	{% for (product, category) in products_with_category %}
	<div class="bg-white border-2 p-4 rounded-lg shadow-inner">
		<div class="mb-4">
			<div class="mb-4 rounded-xl overflow-hidden">
				<img class="w-full" src="/static/products/{{ product.photo }}" alt="{{ product.title }}" />
			</div>
			<h3 class="text-xl font-medium">{{ product.title }}</h4>
			<p class="mb-2 text-3xl font-black">{{ product.price }}€</p>
			<p>Categoria: {{ category.name }}</p>
		</div>
		<div class="flex w-full flex-col lg:flex-row items-center justify-between">
			<a class="block bg-slate-200 hover:bg-emerald-500 text-slate-800 hover:text-white font-semibold w-48 py-2 px-4 my-1 text-center rounded-md shadow-md active:bg-emerald-800 outline-none active:ring-2 active:ring-emerald-500" href="/products/read/{{ product.id }}">+ Veure més</a>
		</div>
	</div>
	{% endfor %}
</div>
<div class="flex w-full flex-rowitems-center justify-between">
	<a class="block bg-slate-200 hover:bg-emerald-500 text-slate-800 hover:text-white font-semibold w-48 py-2 px-4 mx-auto mt-4 text-center rounded-md shadow-md active:bg-emerald-800 outline-none active:ring-2 active:ring-emerald-500" href="/products/create">+ Crear producte</a>
</div>
{% endblock %}